RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

ErrorDocument 404 https://www.stoicfellowship.com

Redirect /blog/2017/10/5/an-interview-with-donald-robertson https://www.stoicfellowship.com